.ToggleBtn {
    height: 55%;
    padding: 10x;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 4px;
    cursor: pointer;

}
.ToggleBtn img {
    height: 100%;
}

@media (min-width:599px){
    .ToggleBtn img {
        display: none;
    }
}